In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import joblib

In [2]:
df=pd.read_csv('ex1data1.txt', names=['population_of_city', 'profit_of_business'])

In [3]:
df

    population_of_city  profit_of_business
0               6.1101            17.59200
1               5.5277             9.13020
2               8.5186            13.66200
3               7.0032            11.85400
4               5.8598             6.82330
..                 ...                 ...
92              5.8707             7.20290
93              5.3054             1.98690
94              8.2934             0.14454
95             13.3940             9.05510
96              5.4369             0.61705

[97 rows x 2 columns]

In [4]:
df.describe()

       population_of_city  profit_of_business
count           97.000000           97.000000
mean             8.159800            5.839135
std              3.869884            5.510262
min              5.026900           -2.680700
25%              5.707700            1.986900
50%              6.589400            4.562300
75%              8.578100            7.046700
max             22.203000           24.147000

In [5]:
X = df[['population_of_city']]
y =df[['profit_of_business']]

In [6]:
lr = LinearRegression().fit(X, y)

In [7]:
lr.score(X,y)

0.7020315537841397

In [8]:
joblib.dump(lr,'inear_regression_model.pkl')

['inear_regression_model.pkl']

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 2 columns):
population_of_city    97 non-null float64
profit_of_business    97 non-null float64
dtypes: float64(2)
memory usage: 1.6 KB

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=5)

In [39]:
train_set.head()

     6.1101   17.592
40   6.8825   3.9115
67   5.4994   1.0173
15   6.3654   5.3048
68  20.3410  20.9920
88   5.0594   2.8214

In [40]:
test_set.head()

     6.1101   17.592
80   5.1884  0.20421
77  10.2740  6.75260
73   5.0269 -2.68070
94  13.3940  9.05510
33   8.2111  6.54260

In [41]:
from sklearn.linear_model import LinearRegression

In [42]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [43]:
new = [[56]]
lin_reg.predict(new)

array([[62.73463411]])

In [44]:
lin_reg.intercept_

array([-3.83598326])

In [45]:
lin_reg.coef_

array([[1.18876102]])

In [46]:
X_train.max()

population_of_city    22.203
dtype: float64

In [47]:
y_train.max()

profit_of_business    24.147
dtype: float64

In [50]:
new = [[22.203]]

In [51]:
lin_reg.predict(new)

array([[22.55807777]])